@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-cofo: 'cofo-raffine', sans-serif;
  --color-gradient-start: #f1af7b;
  --color-gradient-mid: #960218;
  --color-gradient-end: #4b010c;
}

@utility bg-radial-fire {
  background: radial-gradient(
    112.68% 112.68% at 50.12% 100%,
    #f1af7b 0%,
    #960218 58.58%,
    #4b010c 100%
  );
}
